@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);

$bg-color: #fff;
$border-color: #eee;
$color1: #111;
$color2: #E52529;
$color3: #444;

.main {
    width: 80vw;
    margin-left: 10vw;
}

.pick {
    display: flex;
    flex-direction: row;
    font-family: "Druk Wide Bold";
}

.pick_1_image {
    width: 60px;
    height: 60px;
    background-image: url(./images/white_1.png);
    background-size: 60px 60px;
}

.pick_2_image {
    width: 60px;
    height: 60px;
    background-image: url(./images/black_1.png);
    background-size: 60px 60px;
}

.pick_1 {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid $color2;
    margin: 30px;
    width: 50%;
}

.pick_2 {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid $border-color;
    margin: 30px;
    
    width: 50%;
}

.text_p {
    padding: 25px;
}

.weight p {
    font-family: "Druk Wide Bold";
    padding: 20px;
}

.weight {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

.weight_1 {
    display: flex;
    flex-direction: row;
}

.weight_2 {
    display: flex;
    flex-direction: row;
}

.weight_checked, .weight_unchecked{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
}

.weight_checked {
    background-color: $color3;
}

.weight_unchecked {
    background-color: $color2;
}