@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);

$bg-color: #fff;
$border-color: #eee;
$color1: #111;
$color2: #E52529;
$color3: #444;

* {
    padding: 0;
    margin: 0;
}

.offer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bodyStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h2 {
    width: 50vw;
    text-align: center;
    padding: 0;
    padding-left: 25vw;
    padding-right: 25vw;
    margin: 0;
    margin-top: 200px;
    margin-bottom: 50px;
    font-family: "Druk Wide Bold";
    font-size: 50px;
}

.h3 {
    text-align: center;
    font-size: 20px;
    color: $color3;
}