@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);

$bg-color: #fff;
$border-color: #eee;
$color1: #111;
$color2: #E52529;
$color3: #444;

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.side {
    min-width: 30vw;
}

.middle {
    display: flex;
    flex-direction: column;
}

.middle div {
    margin-bottom: 20px;
    align-self: center;
}

.image {
    background-image: url(./images/ok.png);
    background-size: 90px 90px;
    height: 90px;
    width: 90px;
}

.title {
    font-family: "Druk Wide Bold";
    font-size: 50px;
}

.text {
    text-align: center;
    color: $color3;
}

.button {
    color: $color2;
    padding: 15px;
    border: 2px solid $color2;
    font-family: "Druk Wide Bold";
    width: 140px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}