@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);

$bg-color: #fff;
$border-color: #eee;
$color1: #111;
$color2: #E52529;

.nav {
    display: flex;
    background-color: $bg-color;
    color: $color1;
    border-bottom: 2px solid $border-color;
    margin: 0;
    font-family: "Druk Wide Bold";
    padding: 15px;
    position: fixed;
    width: 100vw;
    top: 0;
}

.navLogo {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    font-size: 12px;
}

.navItems {
    margin-top: 5px;
}

.navItems div {
    margin-top: 2px;
    margin-left: 50px;
    height: 3px;
    width: 40px;
    background-color: $color2;
}

.navName {
    color: $color2;
    margin-left: 4px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
    margin-right: 25px;
}

.navBtn {
    color: $color1;
    font-size: 12px;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
}

.navBtn:hover, .navBtn:active {
    color: $color2;
    text-decoration: underline;
}