@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);

$bg-color: #fff;
$border-color: #eee;
$color1: #111;
$color2: #444;
$color3: #eee;
$color4: #e22;

.main {
    margin: 10px;
}

.image {
    background-color: $color3;
    background-image: url(./images/black_1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 95% 95%;
    width: 300px;
    height: 300px;
}

.image p {
    background-color: $color3;
    text-align: left;
    margin-left: 190px;
    padding: 10px;
    font-family: "Druk Wide Bold";
    font-size: 10px;
}

.title {
    color: black;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.subtitle {
    color: $color2;
}

.price {
    display: flex;
    flex-direction: row;
}

.price h2{
    color: $color4;
    font-family: "Druk Wide Bold";
}

.price p{
    color: $color4;
    margin: 5px;
}