@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);

$bg-color: #fff;
$border-color: #eee;
$color1: #111;
$color2: #E52529;
$color3: #444;

.main {
    margin-top: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h2 {
    font-family: "Druk Wide Bold";
}

.main h3 {
    font-family: "Druk Wide Bold";
}

.main h1 {
    
    font-family: "Druk Wide Bold";
    color: $color2;
    padding: 2px;
    margin: 5px;
}