@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);

$bg-color: #fff;
$border-color: #eee;
$color1: #111;
$color2: #E52529;
$color3: #444;

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.left {
    width: 30vw;
    margin-left: 10vw;
}

.left h1 {
    margin-top: 150px;
    font-family: "Druk Wide Bold";
    font-size: 45px;
}

.left h3 {
    color: $color3;
}

.button {
    color: $color2;
    padding: 15px;
    border: 2px solid $color2;
    font-family: "Druk Wide Bold";
    width: 75px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

.right {
    background-image: url('./images/stretchTop.png');
    min-width: 40vw;
    height: 700px;
}