@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);

$bg-color: #fff;
$border-color: #eee;
$color1: #111;
$color2: #E52428;
$color3: #242527;

.main {
    display: flex;
}

.left {
    background-color: $color2;
    background-image: url(./images/hand.png);
    background-size: 150%;
}

h1 {
    font-family: "Druk Wide Bold";
}

.icon_1 {
    background-image: url(./images/icon4.png);
    background-size: 60px 50px;
    width: 60px;
    height: 50px;
}

.icon_2 {
    background-image: url(./images/icon3.png);
    background-size: 60px 50px;
    width: 60px;
    height: 50px;
}

.icon_3 {
    background-image: url(./images/icon2.png);
    background-size: 60px 50px;
    width: 60px;
    height: 50px;
}

.icon_4 {
    background-image: url(./images/icon1.png);
    background-size: 60px 50px;
    width: 60px;
    height: 50px;
}

.list {
    margin-left: 7vw;
}

.listRow {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.list p {
    margin-left: 20px;
    color: white;
    margin-top: 5px;
}

h1 {
    max-width: 20vw;
    color: white;
    margin-left: 7vw;
    margin-top: 10vw;
}

.left {
    width: 50%;
    height: 700px;
}

.right {
    height: 700px;
    background-color: $color3;
    width: 50%;
}